@import url("https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap");

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: black;
    box-sizing : border-box;
    color: white;
    height: 100vh;
}

h1{
    font-weight: bold;
}

.apresentacao{
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 10% 15%;
}

.apresentacao_conteudo{
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 615px;
}

.apresentacao_conteudo_texto{
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
}

.apresentaco_conteudo_titulo{
    font-family: 'Krona One', sans-serif;
    font-size: 36px;
}

.apresentacao_links{
    display: flex;
    justify-content: space-between;
}

.apresentacao_links_link{
    background-color: #22D4FD;
    border-radius: 16px;
    color: #000000;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 24px;
    padding: 21.5px 0;
    text-align: center;
    text-decoration: none;
    width: 280px;
}

.titulo_destaque{
    color: 	#00BFFF;
}